In [10]:
import pandas as pd 
"""Importing pandas and numpy module"""
import numpy as np
pd.Series?

In [12]:
a=pd.Series()
print(a)

Series([], dtype: float64)

In [17]:
#creating series from nparray
data = np.array([1,2,3,4])
b=pd.Series(data)
print(b)
print(len(data)-1) #len(data)-1 as index i.e:0,1,2,3

0    1
1    2
2    3
3    4
dtype: int64
3

In [20]:
c=pd.Series(data=[1,6,4,8,5,7],index=[101,102,108,105,103,104])
c

101    1
102    6
108    4
105    8
103    5
104    7
dtype: int64

In [22]:
c.index[2] # gives the value of index in 2nd array value

108

In [30]:
c.head(5) #head displays the required no. of Series assigned in (_)

101    1
102    6
108    4
105    8
103    5
dtype: int64

In [40]:
#creating Series fromm dictionary
#In dictionary key is used to index the values
data_1={'a':1,'b':2,'c':3,'d':'nan'}
d=pd.Series(data_1)
d

a      1
b      2
c      3
d    nan
dtype: object

In [44]:
#Dictinary Eg:2
data_2={'b':1.0,'a':0.0,'d':4.0}
e=pd.Series(data_2,index=['a','b','c','d'])
e

a    0.0
b    1.0
c    NaN
d    4.0
dtype: float64

In [45]:
#from scalar
pd.Series(5,index=[1,2,3,4,5,6])

1    5
2    5
3    5
4    5
5    5
6    5
dtype: int64

In [47]:
#Accessing the data from the series
e[0]
e[3]    #override the latest run

4.0

In [48]:
print(e[0])
print(e[3])

0.0
4.0

In [50]:
#retrieve the first three elements
e[:3]

a    0.0
b    1.0
c    NaN
dtype: float64

In [51]:
e[:2]

a    0.0
b    1.0
dtype: float64

In [52]:
e[:-1] # equals to e[:3]

a    0.0
b    1.0
c    NaN
dtype: float64

In [53]:
e[-2:] #retrieves the last two element

c    NaN
d    4.0
dtype: float64

In [57]:
#using index(label)
print(e['a'])

0.0

In [59]:
print(e["c"])

nan