In [1]:
import pandas as pd
dict_1={'nepal': "beautiful",
       'india':"rich",
        'usa':'powerfull'
       }
x=pd.Series(dict_1)
x

nepal    beautiful
india         rich
usa      powerfull
dtype: object

In [2]:
x.index

Index(['nepal', 'india', 'usa'], dtype='object')

In [4]:
x.values

array(['beautiful', 'rich', 'powerfull'], dtype=object)

In [5]:
pd.Series?

In [6]:
a= pd.Series(["tiger","cat","dog"],index=['nepal','Usa','india'])
a.index

Index(['nepal', 'Usa', 'india'], dtype='object')

In [8]:
dict_2={'nepal': "beautiful",
       'india':"rich",
         }
pd.Series(dict_2)

nepal    beautiful
india         rich
dtype: object

In [1]:
x.index[1]

NameError: name 'x' is not defined

In [3]:
s=pd.Series(x,index['nepal','india'])
s

NameError: name 'pd' is not defined

In [2]:
import pandas as pd
dict_1={'nepal': "beautiful",
       'india':"rich",
        'usa':'powerfull'
       }
x=pd.Series(dict_1)
x

nepal    beautiful
india         rich
usa      powerfull
dtype: object

In [8]:
x['nepal']

'beautiful'

In [9]:
x.values[2]

'powerfull'

In [10]:
x[1]

'rich'

In [11]:
x[0]

'beautiful'

In [13]:
x.values

array(['beautiful', 'rich', 'powerfull'], dtype=object)

In [17]:
pd.iloc?

Object `pd.iloc` not found.

In [18]:
x.iloc[1]

'rich'

In [19]:
x.iloc?

In [21]:
x.loc['nepal']

'beautiful'

In [48]:
s1=pd.Series(['ntc','ncell','smartcell'], index=[99,100,2])

In [51]:
#s1.iloc[99]
s1[99]

'ntc'

In [35]:
s2=pd.Series([1,2,3,4])
s2.sum()

10

In [56]:
import numpy as np
s3=pd.Series(np.random.randint(0,1000,1000))

In [58]:
s3.head(10)

0    837
1    142
2    633
3    885
4    586
5    196
6    837
7    583
8    410
9    185
dtype: int64

In [59]:
s3.head(10).add(10)

0    847
1    152
2    643
3    895
4    596
5    206
6    847
7    593
8    420
9    195
dtype: int64

In [63]:
s3.head(10)+2

0    839
1    144
2    635
3    887
4    588
5    198
6    839
7    585
8    412
9    187
dtype: int64